# Игнорировать все файлы и папки
/*

# Не игнорировать .gitignore в корне
!/.gitignore

# Не игнорировать любой файл с расширением .ypnb в любом месте
!*.ypnb

# Не игнорировать папку .git и всё внутри (чтобы git продолжал работать)
!/.git/
!/.git/**